name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: SonarQube Scan
      run: echo "Running SonarQube Scan"

    - name: Trivy Scan
      run: echo "Running Trivy Image Scan"

    - name: Build Docker Image
      run: docker build -t devsecops-app .

    - name: Push Image
      run: echo "Pushing image to registry"
